<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chusu.apps.dao.business.WxAppMapper">
    <resultMap id="BaseResultMap" type="com.chusu.apps.model.business.WxApp">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="pro_id" jdbcType="INTEGER" property="proId" />
        <result column="app_id" jdbcType="INTEGER" property="appId" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="delflag" jdbcType="INTEGER" property="delflag" />
    </resultMap>
</mapper>