<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chusu.apps.dao.sys.SysAdminMapper">
  <resultMap id="BaseResultMap" type="com.chusu.apps.model.sys.SysAdmin">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="username" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="INTEGER" property="status" />
    
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="relation_id" property="relationId" jdbcType="INTEGER" />
  </resultMap>
  
  
  <select id="selectMenu" resultType="java.util.Map" parameterType="java.lang.Integer">
  	SELECT M.menu_level,M.list_order,M.menu_name,M.menu_url,M.pid,M.ico_class,M.id  
	FROM sys_menu M 
	WHERE M.pid = #{pId} 
	ORDER BY M.list_order 
  </select>
  
  <select id="selectRoleMenu" resultType="java.util.Map" parameterType="java.util.Map">
  	SELECT R.role_name,
		M.menu_level,M.list_order,M.menu_name,M.menu_url,M.pid,M.ico_class,M.id  
	FROM sys_role R 
	LEFT JOIN sys_role_menu RM ON RM.role_id = R.id 
	LEFT JOIN sys_menu M ON M.id = RM.menu_id 
	WHERE M.pid = #{pId} 
	<if test="roleId != null and roleId != ''">
		AND R.id = #{roleId} 
	</if>
	ORDER BY list_order 
  </select>
  
  <select id="selectAdminList" resultMap="BaseResultMap" parameterType="java.util.Map">
  	SELECT a.*,r.role_name FROM sys_admin a
	LEFT JOIN sys_role r ON r.id = a.role_id 
	WHERE 1=1 
	<if test="userName != null and userName != ''">
		AND a.user_name LIKE CONCAT(CONCAT('%', #{userName} ),'%') 
	</if>
	<if test="account != null and account != ''">
		AND a.account LIKE CONCAT(CONCAT('%', #{account}),'%') 
	</if>
	<if test="roleId != null">
		AND a.role_id = #{roleId} 
	</if>
	order by a.role_id,create_time desc 
	limit #{offset},#{size} 
  </select>
  
  <select id="selectAdminCount" resultType="java.lang.Integer" parameterType="java.util.Map">
  	SELECT count(*) FROM sys_admin a
	LEFT JOIN sys_role r ON r.id = a.role_id 
	WHERE 1=1 
	<if test="userName != null and userName != ''">
		AND a.user_name LIKE CONCAT(CONCAT('%', #{userName} ),'%') 
	</if>
	<if test="account != null and account != ''">
		AND a.account LIKE CONCAT(CONCAT('%', #{account}),'%') 
	</if>
  </select>
</mapper>